body{
    margin: 0;
    padding: 20px;
    top: 5px;
    background-color: aquamarine;
}

.background{
    margin: 0;
    padding: 20px;
    top: 5px;
    
}

.li1{
    position: relative;
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    top: auto;

}
.non-active{
    pointer-events: none;
    cursor: default;
    color: black;
    text-decoration: none;


}

.title{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    position: relative;
}

.info{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.ti_table{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4b85dd;
    
}
.row_black{
    text-align: center;
    background-color:#70a8f0;

}

.row_light{
    text-align: center;
    background-color:#82b2ef;

}

.table{
    width: 100%;
    position: relative;
    
    
}

.text_form{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}